<layout name="layout" />

<script src="{$uri}Public/Scripts/ERP/Warehouse/WarehouseField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/User/UserField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Customer/CustomerField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Site/SiteField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Goods/GoodsWithSalePriceField.js?dt={$dtFlag}" type="text/javascript"></script>

<script src="{$uri}Public/Scripts/ERP/Sale/RSMainForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Sale/RSEditForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Sale/RSSelectWSBillForm.js?dt={$dtFlag}" type="text/javascript"></script>

<script src="{$uri}Public/Scripts/ERP/UX/CellEditing.js?dt={$dtFlag}" type="text/javascript"></script>

<script>
    Ext.onReady(function(){
        var app = Ext.create("ERP.App", {
            userName: "{$loginUserName}"
        });

        app.add(Ext.create("ERP.Sale.RSMainForm"));
        app.setAppHeader({
            title: "{$title}",
            iconCls: "ERP-fid2002"
            });
    });
</script>