<layout name="layout" />

<script src="{$uri}Public/Scripts/ERP/Warehouse/WarehouseField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/User/UserField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Supplier/SupplierField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Goods/GoodsField.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/Purchase/PurchaseField.js?dt={$dtFlag}" type="text/javascript"></script>

<script src="{$uri}Public/Scripts/ERP/InvAcceptance/IAMainForm.js?dt={$dtFlag}" type="text/javascript"></script>
<script src="{$uri}Public/Scripts/ERP/InvAcceptance/IAEditForm.js?dt={$dtFlag}" type="text/javascript"></script>

<script src="{$uri}Public/Scripts/ERP/UX/CellEditing.js?dt={$dtFlag}" type="text/javascript"></script>

<script>
    Ext.onReady(function(){
        var app = Ext.create("ERP.App", {
            userName: "{$loginUserName}"
        });

        app.add(Ext.create("ERP.Purchase.IAMainForm"));
        app.setAppHeader({
            title: "{$title}",
            iconCls: "ERP-fid3006"
            });
    });
</script>